<!doctype html><html><head>
  <meta charset=utf8>
  <title>ICRA</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    body{
      overflow-y:scroll;
    }
    input[type=text],
    input[type=number],
    input[type=date],
    select{
      background:lightyellow;
    }
    button[visible="1"]{
      background:yellow;
    }

    input[type=number],
    [number]{
      text-align:right;
    }
    td{
      vertical-align:top;
    }
    summary{
      color:blue;
      cursor:pointer;
    }
    summary:hover{
      background:lightblue;
      transition:all 0.1s;
      text-decoration:underline;
    }
    label:hover{
      background:gold;
      border-radius:5px;
      transition:all 0.1s;
    }
    hr{
      border:none;
    }
  </style>
</head><body>
<h1>Simulador ICRA (en desenvolupament)</h1>

<div id=app>
  <div v-if="escenari">
    <div>
      <b style="font-size:x-large">Escenari </b>
      <input type=text
        v-model="escenari.nom"
        style="font-size:x-large"
      >
    </div><hr>

    <div
      style="
        display:grid;
        grid-template-columns:50% 50%;
        grid-gap:5px;
      "
    >
      <!--projectes-->
      <div>
        <table border=1 style="width:100%">
          <thead>
            <tr>
              <td colspan=2>
                <div
                  style="
                    display:flex;
                    align-items:center;
                  "
                >
                  <div>
                    <b>Taula Projectes ({{escenari.projectes.length}})&nbsp;</b>
                  </div>

                  <button
                    @click="afegir_projecte()"
                    style="
                      padding:0.618em 1.618em;
                      background:royalblue;
                      color:white;
                    "
                  >afegir projecte
                  </button>

                  <div>&nbsp;vista projectes
                    <button @click="escenari.projectes.forEach(p=>p.visible=0)" :disabled="escenari.projectes.every(p=>!p.visible)">-</button>
                    <button @click="escenari.projectes.forEach(p=>p.visible=1)" :disabled="escenari.projectes.every(p=>p.visible)">+</button>
                  </div>
                </div>
              </td>
            </tr>
          </thead>
          <tr v-if="escenari.projectes.length==0">
            <td>~no hi ha projectes</td>
          </tr>
          <tr v-for="p,i in escenari.projectes">
            <td>
              <!--projecte-->

              <input type=text v-model="p.nom" placeholder="nom/descripció projecte" :id="`nom-projecte-${i}`">
              <button @click="p.visible^=1" :visible="p.visible">detalls</button>

              <span v-if="!p.visible">&nbsp;{{format(p.total_despeses)}} €</span>

              <div v-if="p.visible">
                <table border=1>
                  <tr>
                    <td>
                      <label>Inici <input type=date v-model="p.durada.inici"></label><!--
                      --> <label>Final <input type=date v-model="p.durada.final"></label>
                      <span>
                        (anualitats: {{p.anualitats}})
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Tipus projecte
                      <div
                        style="
                          display:grid;
                          grid-template-columns:repeat(4,1fr);
                        "
                      >
                        <div v-for="t in p.tipus">
                          <label>
                            <input type=radio v-model="p.tipus_triat" :value="t"> {{t}}
                          </label>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>
                        <input type=checkbox v-model="p.competitiu">
                        Projecte competitiu
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>
                        <input type=checkbox v-model="p.europeu">
                        Projecte europeu
                      </label>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      IP (investigador principal del projecte)
                      <select v-model="p.IP" v-if="escenari.persones.length">
                        <option :value="null">--selecciona persona--</option>
                        <option v-for="per in escenari.persones" :value="per">{{per.nom}}</option>
                      </select>
                      <span v-if="p.IP">
                        <button @click="veure_persona(p.IP)">veure</button>
                      </span>
                    </td>
                  </tr>

                  <tr>
                    <td style="padding-left:10px">
                      <b>Taula Despeses ({{p.despeses.length}})</b>&nbsp;
                      <button @click="afegir_despesa(p)" style="padding:0.618em 1em;">
                        afegir despesa
                      </button>
                      <span>&nbsp;vista despeses
                        <button @click="p.despeses.forEach(d=>d.visible=0)" :disabled="p.despeses.every(d=>!d.visible)">-</button>
                        <button @click="p.despeses.forEach(d=>d.visible=1)" :disabled="p.despeses.every(d=>d.visible)">+</button>
                      </span>

                      <div v-if="p.despeses.length==0">
                        <code>&nbsp;~no hi ha despeses</code>
                      </div>

                      <table v-if="p.despeses.length" border=1 style="border-collapse:collapse"
                        :despeses_projecte="i"
                        class=despeses
                      >
                        <tbody v-for="d,j in p.despeses">
                          <tr>
                            <td>
                              <div style="white-space:nowrap">
                                <input type=text v-model="d.nom" placeholder="nom/descripció despesa">
                                <button @click="d.visible^=1" :visible="d.visible">detalls</button>
                              </div>

                              <table v-if="d.visible">
                                <tr>
                                  <td>
                                    <div>
                                      <label>
                                        <input type=checkbox v-model="d.capex" :disabled="d.rrhh">
                                        CAPEX
                                      </label>
                                    </div>
                                    <div>
                                      <label><input type=radio v-model="d.rrhh" :value="false" @click="d.persona=null"> No-RRHH</label>
                                    </div>
                                    <div>
                                      <label><input type=radio v-model="d.rrhh" :value="true" @change="d.capex=false"> RRHH </label>
                                      <select v-model="d.persona" :disabled="!d.rrhh" v-if="escenari.persones.length">
                                        <option :value="null">--selecciona persona--</option>
                                        <option v-for="per in escenari.persones" :value="per">{{per.nom}}</option>
                                      </select>
                                      <span v-if="d.persona">
                                        <button @click="veure_persona(d.persona)">veure</button>
                                      </span>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <div style="white-space:nowrap">
                                <input type=number v-model="d.euros"> €
                              </div>
                              <div v-if="d.rrhh && d.persona">
                                <button v-if="d.visible" @click="d.euros = d.persona.cost_empresa_eur">
                                  set despesa = CA
                                  ({{d.persona.cost_empresa_eur}} €)
                                </button>
                              </div>
                            </td>
                            <td>
                              <button @click="p.despeses.splice(j,1)" style="white-space:nowrap">eliminar despesa</button>
                            </td>
                          </tr>
                        </tbody>
                        <tr>
                          <td>
                            <div>
                            </div>
                            Overheads calculats
                            <input type=number v-model.number="p.percentatge_overheads" style="width:3em" max=100 min=0> %
                          </td>
                          <td style="text-align:right">
                            {{format(p.overheads)}} €
                          </td>
                        </tr>
                        <tfoot>
                          <tr>
                            <td>Total despeses projecte</td>
                            <td number>{{format(p.total_despeses)}} €</td>
                          </tr>
                        </tfoot>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
            <td>
              <button @click="escenari.projectes.splice(i,1)" style="white-space:nowrap">eliminar projecte</button>
            </td>
          </tr>
        </table>
      </div>

      <!--personal-->
      <div>
        <table border=1 id=persones>
          <thead>
            <tr>
              <td colspan=2>
                <b>Taula RRHH (personal) ({{escenari.persones.length}})&nbsp;</b>
                <button @click="afegir_persona()"
                  style="
                    padding:0.618em 1.618em;
                  "
                >afegir persona
                </button>

                <span>&nbsp;vista persones
                  <button @click="escenari.persones.forEach(p=>p.visible=0)" :disabled="escenari.persones.every(p=>!p.visible)">-</button>
                  <button @click="escenari.persones.forEach(p=>p.visible=1)" :disabled="escenari.persones.every(p=>p.visible)">+</button>
                </span>
              </td>
            </tr>
          </thead>
          <tr v-if="escenari.persones.length==0">
            <td>~no hi ha persones</td>
          </tr>
          <tbody v-for="p,i in escenari.persones">
            <tr>
              <td>
                <div>
                  <input type=text v-model="p.nom" :id="`nom-persona-${i}`">
                  <button @click="p.visible^=1" :visible="p.visible">detalls</button>
                </div>

                <table border=1 v-if="p.visible">
                  <tr>
                    <td>Tipus</td>
                    <td>
                      <label><input type=radio v-model="p.tipus" value="admin"> admin</label>
                      <label><input type=radio v-model="p.tipus" value="recerca"> recerca</label>
                    </td>
                  </tr>
                  <tr>
                    <td>Permanent</td>
                    <td>
                      <label><input type=radio v-model="p.permanent" :value="true"> sí</label>
                      <label><input type=radio v-model="p.permanent" :value="false"> no</label>
                    </td>
                  </tr>
                  <tr>
                    <td>Categoria</td>
                    <td>
                      <label><input type=radio v-model="p.categoria" value="admin"> admin</label>
                      <label><input type=radio v-model="p.categoria" value="tècnic"> tècnic</label>
                      <label><input type=radio v-model="p.categoria" value="ip"      :disabled="p.tipus!='recerca'"> ip</label>
                      <label><input type=radio v-model="p.categoria" value="predoc"  :disabled="p.tipus!='recerca'"> predoc</label>
                      <label><input type=radio v-model="p.categoria" value="postdoc" :disabled="p.tipus!='recerca'"> postdoc</label>
                    </td>
                  </tr>
                  <tr>
                    <td>Cost Empresa Anual ("CA")</td>
                    <td>
                      <input type=number v-model="p.cost_empresa_eur"> €

                      <div v-for="llista_projectes in [get_projectes_on_la_persona_esta_involucrada(p)]">
                        <table border=1 v-if="llista_projectes.length" style="font-size:smaller;border-collapse:collapse">
                          <tr v-for="pro in llista_projectes">
                            <td>
                              <a href="#" @click="veure_projecte(pro);return false">{{pro.nom}}</a>
                            </td>
                            <td>
                              <table style="font-size:smaller">
                                <tr v-for="d in pro.despeses.filter(d=>d.persona==p)">
                                  <td>{{d.nom}}:</td>
                                  <td>{{format(d.euros)}} €</td>
                                  <td>({{format(d.euros/p.cost_empresa_eur*100)}}%)</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <button @click="eliminar_persona(p)" style="white-space:nowrap">
                  eliminar persona
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr>

    <div>
      <table border=1>
        <tr>
          <th colspan=2>
            TAULA INDICADORS
          </th>
        <tr><td>Total despeses       <td number>{{format(total_despeses)}} €</td></tr>
        <tr><td>Total despeses RRHH  <td number>{{format(total_despeses_RRHH)}} €</td></tr>
        <tr><td>Total despeses CAPEX <td number>{{format(total_despeses_CAPEX)}} €</td></tr>
        <tr><td>Total overheads      <td number>{{format(escenari.projectes.map(p=>p.overheads).reduce((p,c)=>p+c,0))}} €</td></tr>
        <tr><td>Nº predocs           <td number>{{format(numero_predocs)}}</td></tr>
        <tr><td>Nº postdocs          <td number>{{format(numero_postdocs)}}</td></tr>
        <tr><td>Total CA             <td number>{{format(total_CA)}} €</td></tr>
        <tr><td>Projectes competitius<td number>{{format(escenari.projectes.filter(p=>p.competitiu).length)}}</td></tr>
        <tr><td>Projectes europeus   <td number>{{format(escenari.projectes.filter(p=>p.europeu).length)}}</td></tr>
      </table>
    </div>

  </div>
</div>

<script>//Estructura
  class Escenari{
    constructor(){
      this.nom="escenari 1";

      //taula de variables globals
      this.constants={
        "Pujada salarial anual":0.01, //1%
      };

      this.projectes=[]; //array objectes Projecte
      this.persones=[];
    }
  }

  //projecte dins d'un Escenari
  class Projecte{
    constructor(nom){
      this.visible = 1;

      this.nom = nom || "Projecte 1"; //exemple: "projecte europeu que comença el 2027"

      //investigador principal
      this.IP = null;

      this.durada={
        inici: "2027-01-01",
        final: "2030-01-01",
      };

      this.tipus=[
        "estructural",   //del mateix centre, a.k.a. "patrons"
        "transferència", //SCT, consultoria, ...
        "mecenatge",     //donacions
      ];
      this.tipus_triat=null;

      this.competitiu = false;
      this.europeu    = false;
      this.events={
        congressos:0,
        articles:0,
      };

      this.despeses=[
        //objectes Despesa
      ];
      //25% de les despeses directes
      this.percentatge_overheads=25;

      this.produccio=[
        //produccio científica/impacte/serveis, TBD
      ];
    }

    //calcula anualitats: anys que dura el projecte
    get anualitats(){
      let inici = new Date(this.durada.inici).getFullYear();
      let final = new Date(this.durada.final).getFullYear();
      return final-inici+1; //number
    }

    //càlcul overheads == despesa indirecta
    get overheads(){
      let total = this.despeses.map(d=>d.euros).reduce((p,c)=>p+c,0);
      return this.percentatge_overheads/100*total;
    }

    get total_despeses(){
      let total = this.despeses.map(d=>d.euros).reduce((p,c)=>p+c,0);
      return total + this.overheads;
    }
  }

  //despesa o ingrés dins d'un Projecte
  class Despesa{
    constructor(nom){
      this.visible = 1;
      this.nom     = nom || "Despesa 1";
      this.euros   = 1; //euros

      //si la despesa és tipus capital expense (i.e. compra equip)
      this.capex   = false;

      this.rrhh    = false; //personal (salari) ò compra d'un equip ò manteniment d'un aparell ò compra fungibles
      this.persona = null;  //objecte persona en cas que sigui despesa tipus rrhh
    }
  }

  //persona dins d'un escenari per assignar a les despeses de tipus RRHH
  class Persona{
    constructor(nom){
      this.visible = 1;

      this.nom              = nom || "Persona 1";
      this.tipus            = "admin"; //["admin","recerca"]
      this.categoria        = "admin"; //["ip","predoc","postdoc","tècnic"]
      this.permanent        = true;    //bool
      this.cost_empresa_eur = 30000;   //€
    }
  }
</script>

<script>//Vue
  let app=Vue.createApp({
    data(){return{
      document,
      escenari:null,
    }},

    methods:{
      format(numero){
        return Intl.NumberFormat().format(numero);
      },
      afegir_projecte(){
        let n = this.escenari.projectes.length+1;
        let p = new Projecte(`Projecte ${n}`);
        this.escenari.projectes.push(p);

        let index = this.escenari.projectes.length-1;
        Vue.nextTick().then(function(){
          let el = document.querySelector(`#nom-projecte-${index}`);
          if(el) el.select();
        });
      },
      afegir_persona(){
        let n = this.escenari.persones.length+1;
        let p = new Persona(`Persona ${n}`);

        this.escenari.persones.push(p);

        let index = this.escenari.persones.length-1;
        Vue.nextTick().then(function(){
          let el = document.querySelector(`#nom-persona-${index}`);
          if(el) el.select();
        });
      },
      eliminar_persona(p){
        this.escenari.projectes.forEach(pro=>{
          if(pro.IP==p){
            pro.IP=null;
          }
          pro.despeses.forEach(des=>{
            if(des.persona==p){
              console.log(des);
              des.persona=null;
              console.log(des);
            }
          });
        });
        let index = this.escenari.persones.indexOf(p);
        this.escenari.persones.splice(index,1);
      },

      afegir_despesa(projecte){
        let n = projecte.despeses.length+1;
        let d = new Despesa(`Despesa ${n}`);
        projecte.despeses.push(d);
      },

      veure_projecte(pro){
        this.escenari.projectes.forEach(p=>p.visible=false);
        pro.visible=1;
      },
      veure_persona(per){
        this.escenari.persones.forEach(p=>p.visible=false);
        per.visible=1;
      },

      get_projectes_on_la_persona_esta_involucrada(persona){
        return this.escenari.projectes.filter(p=>p.despeses.some(d=>d.persona==persona));
      },
    },

    computed:{
      total_despeses(){
        let total = 0;
        this.escenari.projectes.forEach(pro=>{
          pro.despeses.forEach(des=>{
            total += des.euros;
          });

          total += pro.overheads;
        });
        return total;
      },
      total_despeses_RRHH(){
        let total = 0;
        this.escenari.projectes.forEach(pro=>{
          pro.despeses.filter(d=>d.rrhh).forEach(des=>{
            total += des.euros;
          });
        });
        return total;
      },
      total_despeses_CAPEX(){
        let total = 0;
        this.escenari.projectes.forEach(pro=>{
          pro.despeses.filter(d=>d.capex).forEach(des=>{
            total += des.euros;
          });
        });
        return total;
      },
      numero_predocs(){
        return this.escenari.persones.filter(p=>p.categoria=="predoc").length;
      },
      numero_postdocs(){
        return this.escenari.persones.filter(p=>p.categoria=="postdoc").length;
      },
      total_CA(){
        return this.escenari.persones.map(p=>p.cost_empresa_eur).reduce((p,c)=>p+c,0);
      },
    },

    mounted(){
      let esc = new Escenari();
      let pro = new Projecte();
      let per = new Persona();
      let des = new Despesa();

      esc.projectes.push(pro);
      esc.persones .push(per);
      pro.despeses.push(des);

      this.escenari = esc;
    },
  }).mount("#app");
</script>
