<!doctype html><html><head>
  <meta charset=utf8>
  <title>ICRA</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    body{
      overflow-y:scroll;
    }
    input[type=text],
    input[type=number],
    input[type=date],
    select{
      background:lightyellow;
    }
    button[visible="1"]{
      background:yellow;
    }

    input[type=number],
    [number]{
      text-align:right;
    }
    td{
      vertical-align:top;
    }
    summary{
      color:blue;
      cursor:pointer;
    }
    summary:hover{
      background:lightblue;
      transition:all 0.1s;
      text-decoration:underline;
    }
    label:hover{
      background:gold;
      border-radius:5px;
      transition:all 0.1s;
    }
    hr{
      border:none;
    }
  </style>
  <script>
    Array.prototype.suma=function(){
      return this.reduce((p,c)=>p+c,0);
    }
  </script>
</head><body>
<h1>Simulador ICRA (en desenvolupament)</h1>

<div id=app>
  <div v-if="escenari">
    <div>
      <b style="font-size:x-large">Escenari </b>
      <input type=text
        v-model="escenari.nom"
        style="font-size:x-large"
      >
    </div><hr>

    <div
      style="
        display:grid;
        grid-template-columns:50% 50%;
        grid-gap:5px;
      "
    >
      <!--projectes-->
      <div>
        <table border=1 style="width:100%">
          <thead>
            <tr>
              <td colspan=2>
                <div
                  style="
                    display:flex;
                    align-items:center;
                  "
                >
                  <div>
                    <b>Taula Projectes ({{escenari.projectes.length}})&nbsp;</b>
                  </div>

                  <button
                    @click="afegir_projecte()"
                    style="
                      padding:0.618em 1.618em;
                      background:royalblue;
                      color:white;
                    "
                  >afegir projecte
                  </button>

                  <div>&nbsp;vista projectes
                    <button @click="escenari.projectes.forEach(p=>p.visible=0)" :disabled="escenari.projectes.every(p=>!p.visible)">-</button>
                    <button @click="escenari.projectes.forEach(p=>p.visible=1)" :disabled="escenari.projectes.every(p=>p.visible)">+</button>
                  </div>
                </div>
              </td>
            </tr>
          </thead>
          <tr v-if="escenari.projectes.length==0">
            <td>~no hi ha projectes</td>
          </tr>
          <tr v-for="p,i in escenari.projectes">
            <td>
              <!--projecte-->
              <div
                style="
                  display:flex;
                  justify-content:space-between;
                "
              >
                <div>
                  <input type=text v-model="p.nom" placeholder="nom/descripció projecte" :id="`nom-projecte-${i}`">
                  <button @click="p.visible^=1" :visible="p.visible">detalls</button>
                  <span v-if="!p.visible">&nbsp;{{format(p.total_despeses)}} €</span>
                </div>
                <div>
                  <button @click="escenari.projectes.splice(i,1)" style="white-space:nowrap">eliminar projecte</button>
                </div>
              </div>

              <table border=1 v-if="p.visible" style="width:100%">
                <tr>
                  <td colspan=2>
                    <label>Inici <input type=date v-model="p.durada.inici"></label>&nbsp;
                    <label>Final <input type=date v-model="p.durada.final"></label>
                    <span>
                      (anualitats: {{p.anualitats.length}})
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>Codi</td>
                  <td>
                    <input type=text v-model="p.codi" placeholder="codi projecte">
                  </td>
                </tr>
                <tr>
                  <td>Tipus</td>
                  <td>
                    <input type=text v-model.text="p.tipus" placeholder="tipus projecte">
                  </td>
                </tr>
                <tr>
                  <td colspan=2>
                    <label>
                      <input type=checkbox v-model="p.competitiu">
                      Projecte competitiu
                    </label>
                  </td>
                </tr>
                <tr>
                  <td colspan=2>
                    <label>
                      <input type=checkbox v-model="p.europeu">
                      Projecte europeu
                    </label>
                  </td>
                </tr>

                <tr>
                  <td colspan=2>
                    <label>
                      <input type=checkbox v-model="p.coordinat_per_ICRA">
                      Projecte coordinat per ICRA
                    </label>
                  </td>
                </tr>

                <tr>
                  <td colspan=2>
                    <label>
                      <input type=checkbox v-model="p.SEC">
                      SEC (?)
                    </label>
                  </td>
                </tr>

                <tr>
                  <td>Finançador</td>
                  <td>
                    <input type=text v-model="p.finançador" placeholder="finançador">
                  </td>
                </tr>

                <tr>
                  <td>Línia</td>
                  <td>
                    <input type=text v-model="p.linia" placeholder="línia">
                  </td>
                </tr>

                <tr>
                  <td>Director</td>
                  <td>
                    <select v-model="p.director" v-if="escenari.persones.length">
                      <option :value="null">--selecciona persona--</option>
                      <option v-for="per in escenari.persones" :value="per">{{per.nom}}</option>
                    </select>
                    <span v-if="p.director">
                      <button @click="veure_persona(p.director)">veure</button>
                    </span>
                  </td>
                </tr>

                <tr>
                  <td style="padding-left:10px" colspan=2>
                    <b>Taula Despeses ({{p.despeses.length}})</b>&nbsp;
                    <button @click="afegir_despesa(p)" style="padding:0.618em 1em;">
                      afegir despesa
                    </button>
                    <span>&nbsp;vista despeses
                      <button @click="p.despeses.forEach(d=>d.visible=0)" :disabled="p.despeses.every(d=>!d.visible)">-</button>
                      <button @click="p.despeses.forEach(d=>d.visible=1)" :disabled="p.despeses.every(d=>d.visible)">+</button>
                    </span>

                    <div v-if="p.despeses.length==0">
                      <code>&nbsp;~no hi ha despeses</code>
                    </div>

                    <table v-if="p.despeses.length" border=1 style="border-collapse:collapse"
                      :despeses_projecte="i"
                      class=despeses
                    >
                      <tbody v-for="d,j in p.despeses">
                        <tr>
                          <td>
                            <select v-model.number="d.year">
                              <option v-for="y in p.anualitats" :value="y">{{y}}</option>
                            </select>
                          </td>
                          <td>
                            <div style="white-space:nowrap">
                              <input type=text v-model="d.nom" placeholder="nom/descripció despesa">
                              <button @click="d.visible^=1" :visible="d.visible">detalls</button>
                            </div>

                            <table v-if="d.visible">
                              <tr>
                                <td>
                                  Tipus
                                  <div v-for="tipus in d.tipus_master">
                                    <label>
                                      <input type=radio v-model="d.tipus" :value="tipus"> {{tipus}}
                                    </label>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td>
                            <div style="white-space:nowrap">

                              <input type=number v-model="d.euros" min=0> €

                              <div v-if="d.visible && d.tipus=='Indirecta'">
                                <div v-for="calcul in [calcula_overheads(p,d.year)]">
                                  <button @click="d.euros=calcul"
                                    :disabled="d.euros==calcul"
                                  >set euros = {{format(calcul)}}</button>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <button @click="p.despeses.splice(j,1)" style="white-space:nowrap">eliminar despesa</button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan=2>Total despeses projecte</td>
                          <td number>{{format(p.total_despeses)}} €</td>
                        </tr>
                      </tfoot>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <!--personal-->
      <div>
        <table border=1 id=persones>
          <thead>
            <tr>
              <td colspan=2>
                <b>Taula RRHH (personal) ({{escenari.persones.length}})&nbsp;</b>
                <button @click="afegir_persona()"
                  style="
                    padding:0.618em 1.618em;
                  "
                >afegir persona
                </button>

                <span>&nbsp;vista persones
                  <button @click="escenari.persones.forEach(p=>p.visible=0)" :disabled="escenari.persones.every(p=>!p.visible)">-</button>
                  <button @click="escenari.persones.forEach(p=>p.visible=1)" :disabled="escenari.persones.every(p=>p.visible)">+</button>
                </span>
              </td>
            </tr>
          </thead>
          <tr v-if="escenari.persones.length==0">
            <td>~no hi ha persones</td>
          </tr>
          <tbody v-for="p,i in escenari.persones">
            <tr>
              <td>
                <div>
                  <input type=text v-model="p.nom" :id="`nom-persona-${i}`">
                  <button @click="p.visible^=1" :visible="p.visible">detalls</button>
                </div>

                <table border=1 v-if="p.visible">
                  <tr>
                    <td>Permanent</td>
                    <td>
                      <label><input type=radio v-model="p.permanent" :value="true"> sí</label>
                      <label><input type=radio v-model="p.permanent" :value="false"> no</label>
                    </td>
                  </tr>
                  <tr>
                    <td>Categoria</td>
                    <td>
                      <label><input type=radio v-model="p.categoria" value="admin"   > admin</label>
                      <label><input type=radio v-model="p.categoria" value="tècnic"  > tècnic</label>
                      <label><input type=radio v-model="p.categoria" value="ip"      > ip</label>
                      <label><input type=radio v-model="p.categoria" value="predoc"  > predoc</label>
                      <label><input type=radio v-model="p.categoria" value="postdoc" > postdoc</label>
                    </td>
                  </tr>
                  <tr>
                    <td>Cost Empresa Anual ("CA")</td>
                    <td>
                      <input type=number v-model="p.cost_empresa_eur"> €
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <button @click="eliminar_persona(p)" style="white-space:nowrap">
                  eliminar persona
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr>

    <div>
      <table border=1>
        <tr><th colspan=2>TAULA INDICADORS</th></tr>
        <tr><td>Total projectes      <td number>{{format(escenari.projectes.length)}}</td></tr>
        <tr><td>Projectes competitius<td number>{{format(escenari.projectes.filter(p=>p.competitiu).length)}}</td></tr>
        <tr><td>Projectes europeus   <td number>{{format(escenari.projectes.filter(p=>p.europeu).length)}}</td></tr>
        <tr><td>Projectes coordinats <td number>{{format(escenari.projectes.filter(p=>p.coordinat_per_ICRA).length)}}</td></tr>

        <tr><td>Total despeses <td number>{{format(total_despeses)}} €</td></tr>

        <tr><td>Total despeses DC         <td number>{{format(total_despeses_tipus("DC"))       }} €</td></tr>
        <tr><td>Total despeses RRHH       <td number>{{format(total_despeses_tipus("RRHH"))     }} €</td></tr>
        <tr><td>Total despeses CAPEX      <td number>{{format(total_despeses_tipus("CAPEX"))    }} €</td></tr>
        <tr><td>Total despeses Indirectes <td number>{{format(total_despeses_tipus("Indirecta"))}} €</td></tr>

        <tr><td>Nº predocs           <td number>{{format(numero_predocs)}}</td></tr>
        <tr><td>Nº postdocs          <td number>{{format(numero_postdocs)}}</td></tr>
        <tr><td>Total CA             <td number>{{format(total_CA)}} €</td></tr>
      </table>
    </div>
  </div>
</div>

<script>//Estructura
  class Escenari{
    constructor(){
      this.nom="escenari 1";

      //taula de variables globals
      this.constants={
        "Pujada salarial anual":0.01, //1%
      };

      this.projectes=[]; //array objectes Projecte
      this.persones=[];
    }
  }

  //projecte dins d'un Escenari
  class Projecte{
    constructor(nom){
      this.visible = 1;

      this.nom = nom || "Projecte 1"; //exemple: "projecte europeu que comença el 2027"

      this.codi = ""; //codi únic (text)

      //investigador principal
      this.director = null;

      //coordinat per ICRA (bool)
      this.coordinat_per_ICRA = false;
      this.SEC = false; //preguntar què és TODO

      this.finançador=""; //text?
      this.linia=""; //text?

      this.durada={
        inici: "2027-01-01",
        final: "2030-01-01",
      };

      this.tipus="";//text

      this.competitiu = false;
      this.europeu    = false;
      this.events={
        congressos:0,
        articles:0,
      };

      this.despeses=[
        //objectes Despesa
      ];

      //25% de les despeses directes
      this.percentatge_overheads=25;

      this.determina_despeses_inicials();
    }

    determina_despeses_inicials(){
      this.anualitats.forEach(year=>{
        let dc = new Despesa("Directes Corrents",year);
        dc.tipus = "DC";
        this.despeses.push(dc);

        let dp = new Despesa("Directes RRHH", year);
        dp.tipus = "RRHH";
        this.despeses.push(dp);

        let dx = new Despesa("CAPEX", year);
        dx.tipus = "CAPEX";
        this.despeses.push(dx);

        let di = new Despesa("Indirectes (overheads)", year);
        di.tipus = "Indirecta";
        this.despeses.push(di);
      });
    }

    //calcula anualitats: anys que dura el projecte
    get anualitats(){
      let inici = new Date(this.durada.inici).getFullYear();
      let final = new Date(this.durada.final).getFullYear();
      let n = final-inici+1;
      let arr = [];
      for(let i=0;i<n;i++){
        arr.push(inici+i);
      }
      return arr; //array of numbers
    }

    get total_despeses(){
      return this.despeses.map(d=>d.euros).suma();
    }
  }

  //despesa o ingrés dins d'un Projecte
  class Despesa{
    constructor(nom, year){
      this.visible   = 0;
      this.nom       = nom || "Despesa 1";
      this.euros     = 1; //euros
      this.year      = year || 0;

      this.tipus_master=[
        "DC", //directa corrent
        "RRHH", //directa RRHH
        "CAPEX", //directa capex
        "Indirecta", //indirecta
      ];
      this.tipus=this.tipus_master[0];
    }
  }

  //persona dins d'un escenari per assignar a les despeses de tipus RRHH
  class Persona{
    constructor(nom){
      this.visible = 1;

      this.nom              = nom || "Persona 1";
      this.categoria        = "admin"; //["ip","predoc","postdoc","tècnic"]
      this.permanent        = true;    //bool
      this.cost_empresa_eur = 30000;   //€
    }
  }
</script>

<script>//Vue
  let app=Vue.createApp({
    data(){return{
      document,
      escenari:null,
    }},

    methods:{
      format(numero){
        return Intl.NumberFormat().format(numero);
      },
      afegir_projecte(){
        let n = this.escenari.projectes.length+1;
        let p = new Projecte(`Projecte ${n}`);
        this.escenari.projectes.push(p);

        let index = this.escenari.projectes.length-1;
        Vue.nextTick().then(function(){
          let el = document.querySelector(`#nom-projecte-${index}`);
          if(el) el.select();
        });
      },
      afegir_persona(){
        let n = this.escenari.persones.length+1;
        let p = new Persona(`Persona ${n}`);

        this.escenari.persones.push(p);

        let index = this.escenari.persones.length-1;
        Vue.nextTick().then(function(){
          let el = document.querySelector(`#nom-persona-${index}`);
          if(el) el.select();
        });
      },
      eliminar_persona(p){
        this.escenari.projectes.forEach(pro=>{
          if(pro.director==p){
            pro.director=null;
          }
        });
        let index = this.escenari.persones.indexOf(p);
        this.escenari.persones.splice(index,1);
      },

      afegir_despesa(projecte){
        let n = projecte.despeses.length+1;
        let d = new Despesa(`Despesa ${n}`);
        projecte.despeses.push(d);
      },

      veure_projecte(pro){
        this.escenari.projectes.forEach(p=>p.visible=false);
        pro.visible=1;
      },
      veure_persona(per){
        this.escenari.persones.forEach(p=>p.visible=false);
        per.visible=1;
      },

      total_despeses_tipus(tipus){
        let total = 0;
        this.escenari.projectes.forEach(pro=>{
          pro.despeses.filter(d=>d.tipus==tipus).forEach(d=>{
            total += d.euros;
          });
        });
        return total;
      },

      calcula_overheads(projecte, year){
        let percentatge = projecte.percentatge_overheads;
        let euros = projecte.despeses.filter(d=>
          d.year==year && (
            d.tipus=='DC' || d.tipus=='RRHH'
          )
        ).map(d=>d.euros).suma();
        return euros*percentatge/100;
      },
    },

    computed:{
      total_despeses(){
        let total = 0;
        this.escenari.projectes.forEach(pro=>{
          pro.despeses.forEach(d=>{
            total += d.euros;
          });
        });
        return total;
      },

      numero_predocs(){
        return this.escenari.persones.filter(p=>p.categoria=="predoc").length;
      },
      numero_postdocs(){
        return this.escenari.persones.filter(p=>p.categoria=="postdoc").length;
      },
      total_CA(){
        return this.escenari.persones.map(p=>p.cost_empresa_eur).suma();
      },
    },

    mounted(){
      let esc = new Escenari();
      let pro = new Projecte();
      let per = new Persona();

      esc.projectes.push(pro);
      esc.persones .push(per);

      this.escenari = esc;
    },
  }).mount("#app");
</script>
